{% extends 'employee_base.html' %}

{% block content %}
<nav>
    <h5><a href="{% url 'home' %}">Back to Home page</a></h5>
</nav>
{% if form %}
<h2 style="margin-top: 0;">Update employee</h2>
{% else %}
<h2 style="margin-top: 0;">Add an Employee</h2>
{% endif %}

<div>

    {% if error %}
    <h3 style="color: red;">You can't update salary or designation.</h3>
    {% endif %}
</div>

<form method="post">
    {% csrf_token %}

    {{ employee_form }}
    {% if form %}
    <button type="submit">Update</button>
    {% else %}
    <button type="submit">Add</button>
    {% endif %}

</form>

{% endblock %}